# Python
__pycache__/
*.py[cod]
*.log
*.sqlite3
db.sqlite3

# Virtual environment
venv/
.env

# Django
migrations/
media/

# Static files (optional — remove if you want to track custom static files)
static/

# VS Code
.vscode/
